<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>This is an automatic notification system</h4>
    <p>
      You are receiving this notification because <%= @creator.email %> mentioned you on a conversation.
    </p>
    <p>
      To view the conversation on the site, just click <%= link_to "here", main_app.polymorphic_url(@comment.commentable, anchor: "talkie-comment-#{@comment.id}") %>
    </p>
  </body>
</html>
