// Form variable styles

$talkie-form-border-bottom: 1px solid #EEE !default;
$talkie-form-padding-bottom: 10px !default;
$talkie-form-margin-bottom: 10px !default;

$talkie-form-textarea-background-color: #FFF !default;
$talkie-form-textarea-border: 1px solid #E5E5E5 !default;
$talkie-form-textarea-border-radius: 5px !default;
$talkie-form-textarea-color: #222 !default;
$talkie-form-textarea-font-size: 13px !default;
$talkie-form-textarea-height: 60px !default;
$talkie-form-textarea-line-height: 1.5 !default;

$talkie-form-submit-background-color: #4D90F0 !default;
$talkie-form-submit-border: 1px solid #3079ED !default;
$talkie-form-submit-color: #FFF !default;
$talkie-form-submit-border-radius: 2px !default;
$talkie-form-submit-font-weight: bold !default;
$talkie-form-submit-margin: 0 8px 6px 0!default;
$talkie-form-submit-font-size: 11px !default;
$talkie-form-submit-padding: 10px 12px !default;
$talkie-form-submit-text-shadow: 0 1px rgba(0,0,0,.1) !default;
