@import "variables";
@import "form";

.talkie {
  &-comments-count {
    color: #333;
    margin: 0 0 40px 0;
  }

  &-comment-holder {
    border-bottom: 1px solid #eee;
    margin-bottom: 40px;
    padding-bottom: 20px;
    width: 90%;
  }

  &-comment-body {
    color: #222;
    font-size: 16px;
    line-height: 1.2;
    margin: 25px 0 0 0;
  }

  &-comment-delete {
    color: #666;
    display: inline-block;
    font: 11px 'Source Sans Pro', sans-serif;
    margin-left: 10px;
    text-decoration: none;
  }

  &-comment-content {
    margin-left: 60px;

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }

  &-comment-footer {
    margin-top: 20px;

    .talkie-comment-reply {
      margin-bottom: 20px;
    }

    .talkie-comment-reply-link {
      color: #666;
      font: 11px 'Source Sans Pro', sans-serif;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-transition: color 0.2s; /* Safari */
      transition: color 0.2s;

      &:hover {
        color: #222;
      }
    }

    .talkie-comments-reply-form-container {
      border-bottom: none;
    }
  }

  &-comment-created-at {
    font-size: 10px;
    text-transform: uppercase;
  }

  &-comment-creator {
    &-avatar {
      float: left;

      img {
        border-radius: 1000px;
      }
    }

    &-link {
      color: #222;
      display: block;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.talkie-comment-holder .talkie-comment-holder {
  border-bottom: none;
  margin-bottom: 0;
  width: 100%;
}

.talkie-comment-content .talkie-comment-content .talkie-comment-content .talkie-comment-content {
  margin-left: 0;
}
